version: '3.8'

services:
  db:
    image: postgres:14
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: digger-db
    ports:
      - '5432:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data
  app:
    build: .
    restart: always
    ports:
      - '4000:4000'
      - '5555:5555' # Open port for Prisma Studio
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgres://2230a1b39ac8f7bb3090075a15681ab5b1c8d9575c8d968db994fad587c7fc3c:sk_LCzzZADRoGYwL2XBSyH0n@db.prisma.io:5432/postgres?sslmode=require
      - PORT=4000
    volumes:
      - .:/usr/src/app

volumes:
  postgres-data:
